
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F8F8CA;
}

.full-screen{
    display: flex;
}

.left-part{
    width: 50%;
}

.right-part{
    width: 50%;
}

.side-img{
    width: 100%;   
    height: 100vh;
}
.img-login{
    position: absolute;
    margin-left: 15rem;
}
.user-login{
    max-width: 50%;
  
}
.img-logo{
margin-left: 34%;
width:13.875rem;
height: 15.25rem;
margin-top: 5%;
left: 15.25rem;
top: 3.938rem;
}
.form-login{
box-sizing: border-box;
margin-left: 4%;
position: absolute;
width: 32.938rem;
height: 14.75rem;
left: 5.75rem;
top: 27.063rem;

background: #F8F8CA;
border: 1px solid #FDAF17;
border-radius: 0 0 0.75rem 0.75rem;
}

.div--center{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.input--large{
    width: 25rem;
    height: 2rem;
    border: solid #FDAF17;
    cursor: pointer;
}
.bttn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem 1.188rem;
    gap: 1.75rem;
    
    
    width: 4.938rem;
    height: 2.375rem;
   cursor: pointer;
   
    
    background: #B72025;
    box-shadow: 0 0.063rem 0.125rem rgba(15, 23, 42, 0.08);
    border-radius: 0.25rem;
color: white;
}
#teacher-btn{
    
    position: absolute;
    margin-left: 4%;
width: 16.563rem;
height: 3.25rem;
left:5.75rem;
top: 23.813rem;
color: #B72025;
background:  rgba(255, 169, 0, 0.32);
border-radius: 0.5rem 0.5rem 0px 0px;
text-align: center;
cursor: pointer;

}
#wizard-btn{
    position: absolute;
    margin-left: 4%;
    width: 16.375rem;
    height: 3.25rem;
    left: 22.313rem;
    top: 23.813rem;
    color: #B72025;
    background: rgba(255, 169, 0, 0.32);
    border-radius: 0.5rem 0.5rem 0px 0px;
    text-align: center;
    cursor: pointer;
}
#teacher-btn:hover{
    background:linear-gradient(0deg, #FDAF17, #FDAF17), #8F8E8E; ;
}
#wizard-btn:hover{
    background: linear-gradient(0deg, #FDAF17, #FDAF17), #8F8E8E;}
.t{
    position: absolute;
width: 7rem;
height: 1.375rem;
left: 4.813rem;
top: 0.938rem;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 1.188rem;
line-height: 1.375rem;


text-align: center;
cursor: pointer;
color: #B72025;
}
.p{
    position: absolute;
width: 7.625rem;
height: 2.75rem;
left: 4.25rem;
top: 0.938rem;

font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 1.188rem;
line-height: 1.375rem;


text-align: center;
cursor: pointer;
color: #B72025;
}
.click__here--btnn{
    border-bottom:  1px solid  #B72025;
    color:  #B72025;
    cursor: pointer;
} 



.full-screen-1{
    display: block;
}

.input--large-1{
    width: 25rem;
    height: 2rem;
    border: solid #FDAF17;
    cursor: pointer;
}
.checkbox-position{
    display: flex;
    justify-content: space-evenly;
}
.second-form--partial{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.form-2nd{
    box-sizing: border-box;
    margin-left: 4%;
    position: absolute;
    width: 32.938rem;
    height: 27.75rem;
    left: 5.75rem;
    top: 20.063rem;
    
    background: #F8F8CA;
    border: 1px solid #FDAF17;
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
}

.radio-check:hover{
    background-color: #FDAF17;
}

.bttn-create-account{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem 1.188rem;
    gap: 1.75rem;
    
    
    width: 8.638rem;
    height: 2.375rem;
    cursor: pointer;
    
    
    background: #B72025;
    box-shadow: 0 0.063rem 0.125rem rgba(15, 23, 42, 0.08);
    border-radius: 0.25rem;
    color: white;
}
#hidden2{
    display:none;
}
#teacher-btn{
    background-color: #FDAF17 ;
}
.hidden-login{
    display: none;
}
#not-hidden{
    display: block;
}